{% extends "home/base.html" %}

{% block content %}  

<div class="container--600">
  <div class="spacer--80"></div>
  <div class="section--header">
    <div class="text--h3 text--bold gray-900">Log In</div>
    <div class="spacer--20"></div>
    {% if form.errors %}
      <p class="text--h7 text--medium red-600">Your username and password didn't match.<br/>Please try again.</p>
    {% endif %}
  
    {% if next %}
    {% if user.is_authenticated %}
      <p class="text--h7 text--medium red-600">Your account doesn't have access to this page.<br/>To proceed, please login with an account that has access.</p>
    {% else %}
      <p class="text--h7 text--medium gray-500">Please login to see this page.</p>
    {% endif %}
  {% endif %}
  </div>
  <div class="section--body">
    <!-- <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="input--field">
        <p class="text--h7 text--medium gray-700">{{ form.username.label_tag }}</p>
        <input class="field--l" id="user_id" type="text" placeholder="enter your name" name="username">
      </div>
      <div class="input--field">
        <p class="text--h7 text--medium gray-700">{{ form.password.label_tag }}</p>
        <input class="field--l" id="user_pw" type="password" placeholder="enter password" name="password">
      </div>
      <div class="spacer--60"></div>
      <button class="btn--fill--primary--l" id="login_submit" type="submit" value="login">
        <p class="text--h7 text--medium gray-900">Login</p>
      </button>
      <a class="btn--text--secondary text--h7" href="{% url 'password_reset' %}">Lost password?</a>

    </form> -->
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}


      <div class="input--field">
        <p class="text--h7 text--medium gray-700">{{ form.username.label_tag }}</p>
        <input class="field--l" type="text" name="username">
        <p class="text--h7 text--medium red-600">{{ error }}</p>
      </div>

      <div class="input--field">
        <p class="text--h7 text--medium gray-700">{{ form.password.label_tag }}</p>
        <input class="field--l" type="password" name="password">
        <p class="text--h7 text--medium red-600">{{ error }}</p>
      </div>

      <!-- {% for field in form %}
      <div class="input--field">
        <p class="text--h7 text--medium gray-700">{{ field.label_tag }}</p> 
        {{ field }}
        {% if field.errors %}
          {% for error in field.errors %}
          <p class="text--h7 text--medium red-600">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      {% endfor %} -->

      <button class="btn--fill--primary--l" id="login_submit" type="submit">
        <p class="text--h7 text--medium gray-50">Login</p>
      </button>
    </form>
    <div class="spacer--40"></div>
    {# Assumes you setup the password_reset view in your URLconf #}
    <button class="btn--text--secondary gray-500"><a href="{% url 'password_reset' %}">Lost password?</a></button>
  </div>
</div>



  <!-- <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

{% endblock %}
