<!DOCTYPE html>
<html lang="en">
  {% load static %}  
<head>
  {% include 'home/head.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav>
    <div class="nav-title">
        <a class="logobox" href="{% url 'home:home' %}">
          <img src= "{% static 'common/img/icon_disc.svg' %}" alt="Logo" width="48px" height="48px">
        </a>
    </div>
    <ul id="nav-menu">
      <li>
        <a href="{% url 'campaign:campaign-home' %}">Campaign</a>
      </li>
      {% if user.is_authenticated and user.role == "BUSINESS" %}
      <li>
        <a href="{% url 'campaign:campaign-create' %}">Create Campaign</a>
      </li>
      <li>
        <a href="{% url 'business:business-dashboard' %}">Dashboard</a>
      </li>
      {% endif %}
    </ul>
    <ul id="nav-tool">
      {% if user.is_authenticated %}
      <li>
        <a href="#">User: {{ user.get_username }}</a>
      </li>
      <li>
          <a href="{% url 'user:logout' %}?next={{ request.path }}">Logout</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'user:signup' %}">Sign up</a>
      </li>
        <a href="{% url 'user:login' %}?next={{ request.path }}" role="button">Login</a>
      {% endif %}
    </ul>
  </nav>

  {% block content %}
  {% endblock %}
  
</body>
</html>

